@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0rem;
}

.modalWrapper,
.modalWrapper2 {
  background-color: #000000;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  position: absolute;
  z-index: 200;
  opacity: 80%;
}

.modalWrapper .messageWrapper,
.modalWrapper2 .messageWrapper {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  padding: 1.5rem;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}

.modalWrapper .messageWrapper .messageImage,
.modalWrapper2 .messageWrapper .messageImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5rem;
  margin-top: 0.5rem;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  border: 4px #059669 solid;
  border-radius: 50px;
}

.modalWrapper .messageWrapper .messageTitle,
.modalWrapper2 .messageWrapper .messageTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #9CA3AF;
}

.modalWrapper .messageWrapper .messageText,
.modalWrapper2 .messageWrapper .messageText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #9CA3AF;
}

.modalWrapper .messageWrapper .modalButton,
.modalWrapper2 .messageWrapper .modalButton {
  background-color: #059669;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  margin-top: 0.75rem;
  border: none;
  border-radius: 8px;
  border: 2px #059669 solid;
}

.modalWrapper .messageWrapper .modalButton:hover,
.modalWrapper2 .messageWrapper .modalButton:hover {
  cursor: pointer;
}

.modalWrapper .messageWrapper .modalButton:focus,
.modalWrapper2 .messageWrapper .modalButton:focus {
  outline: none;
  border: none;
}

@media (min-width: 767px) and (max-width: 1024px) {
  .modalWrapper .messageWrapper {
    width: 41.66667%;
    font-size: 0.7rem;
    line-height: 1rem;
  }
}

@media (max-width: 766px) {
  .modalWrapper .messageWrapper {
    width: 66.66667%;
    font-size: 0.7rem;
    line-height: 1rem;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appWrapper {
  width: 83.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.linkButton {
  background-color: #047857;
  color: white;
  border: none;
  padding: 0.75rem;
}

.linkButton:hover {
  cursor: pointer;
  background-color: #10B981;
}

.addNewWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 1rem;
  background-color: #eee;
}

.formWrapper {
  width: 100%;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.row {
  width: 100%;
  padding: 0.25rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

input[type=text] {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.75rem;
}

textarea {
  height: 40px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.75rem;
  height: 100px;
}
/*# sourceMappingURL=addEdit.css.map */